#Login{
	display: inline-block;
	height: 90vh;
}
/*card de login*/
.card{
	float: right;
	background-color: rgba(19, 19, 19, 0.3);
	padding: 70px;
	border-radius: 60px;
	width: 290px;
	height: 250px;
}

.logo h1{
margin-top:50px ;
padding left: 50px;

}
